#ignore
.ipynb_checkpoints/

# Ignore datasets
data/raw/
data/*.csv
!data/processed/
!data/processed/*.png
# Ignore CSV files
*.csv

# Ignore database files
*.db

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env
