#ignore
.ipynb_checkpoints/

# Ignore raw datasets only
data/raw/

# Ignore CSV everywhere (optional, keep if needed)
*.csv

# DO NOT ignore processed outputs
!data/processed/
!data/processed/*.png
!data/processed/*.csv
# Ignore database files
*.db

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env
